* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

body{
    background-color: #ececec;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: rgb(0, 1, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 10%;
    

}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;


}


.navbar a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 35px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}

/* Identify Global variables to be used later 
    colors are written from Color picker
*/
:root{
    --primary-color:#00b5d5;
    --secondary-color:#0077b5;
    --grey-color:#808080;
}

/* Applying Media query to deal with the smaller screens less than 768 px */
@media(max-width:768px){
    .header{
        font-size:21px;
    }
}

/* Styling the Container that holds all products */
.container{
    width:1180px;
    /* padding from all directions */
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    /* This is the Trick , we divide the page to be a grid of columns and 
    each column holds a container for a specific product */
    display:grid;
    justify-content: center;
    /* Identifying the columns with the repeat propery that takes 2 values (No of columns , volume of col) */
    grid-template-columns: repeat(auto,minmax(250px,auto));
    /* minimum 25px and maximum is auto depending on the container width */
    gap: 17.5px;
    /* Gap between containers */
}

/* Media queries for different screens to be responsive with all sizes of screens  */
@media(max-width:1200px)
{
    .container{
        width:1000px;
    }
}

@media(max-width:1024px)
{
    .container{
        width:750px;
    }
}
/* For mobile screens */
@media(max-width:768px)
{
    .container{
        width:100%;
    }
}

/* style the box which holds products */
.box{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
    /* All boxes flexes as a column during minimization on  less than 768 px */
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 10px rgb(0, 0, 0 ,12%);
}

.box img{
    width:100%
}
.box img:hover{
    cursor:pointer;
    opacity: 0.95;
}
.box h2{
    font-size: 20px;
}
.box p{
    padding:0 20 px;
    font-size:12.5px;
    line-height:1.35;
    color:var(--grey-color);
}
.box span{
    font-weight: 800;
    font-size: 18px;
}
.box.rate{
    color:#ffb900;
    font-size:12px;
}
.box .options{
    margin-bottom:25px;
}
.box.options a{
    color:white;
    background-color: var(--primary-color);
    display: inline-block;
    border-radius: 50px;
    padding:10px 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
.box.options a:hover{
    background-color: var(--secondary-color);
}
button{
    background-color: var(--primary-color);
    width:130px;
    height:50px;
    font-size:14px ;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 25px;
    color:white;
    padding:10px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}
h5 h6 p {
    text-align: center;
}